@charset "UTF-8";

body {
    background-color: #011C26;
    color: black;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: 14pt;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    width: 1280px;
    height: 250px;
    background-color: #22545F;
    background-image: url(images/project2_images/header.jpg);
    font-size: 0px;
    background-repeat: no-repeat;
    background-position: center;
	margin: 50px 0px 0px 0px; 
	
}

main {
    width: 1100px;
    height: 1600px;
    float: left;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;	/* Float the Main so it shows up next to the Aside. Reduce the width by 150px so they both line up with the header. */
    background-color: #183940;
}


img {
    float: right;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.floatleft {
	float: left;
	
}

#container nav li {
    display: block;
    list-style-type: none;
    width: 80px;
    margin-right: 40px;
    float: left;
	font-family: neonoir,sans-serif;
	font-size: 18pt
}

#container nav ul {
    margin: auto;
    width: 565px;
}

footer {
    width: 1280px;
    height: 50px;
    background-color: #646464;
    clear: both;
	/* Clear the float so the footer shows up in the right place again. */
}

h3 {
    font-size: 12pt;
    padding-top: 10px;
	}


h1 {
    color: #BF1111;
    font-family: politica,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24pt;
}


#container {
    width: 1280px;
    height: auto;
    background-color: #183940;
    margin: auto
}

aside {
    width: 140px;
    height: 1640px;
    background-color: #8C1F1F;
    float: left;
}

article {
    margin-bottom: 50px;
}

p {
    font-family: canada-type-gibson,sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #173840;
    color: #F2F2F2;
}


nav {
    width: 1280px;
    height: 50px;
    background-color: #22545F;
    padding-top: 20px;
    position: fixed;
    top: 0px;
}

nav a:link {
    padding: 10px;
    text-decoration: none;
    color: #BF1111;
}


nav a:visited {
    color: #F2059F;
    text-decoration: none;
}

nav a:hover {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #2E3D59;
    padding: 10px;
    border-radius: 20px;
}

nav a:active {
    text-decoration: none;
    color: #402B8C;
}

.sumbit_btn {
    width: 170px;
    height: 30px;
    border-radius: 10px;
    background-color: #8B1F20;
    font-size: 16px;
    color: #FFFFFF;   
}


.sumbit_btn:hover  {
	-webkit-box-shadow: 6px 6px 35px 1px #000000;
    box-shadow: 6px 6px 35px 1px #000000;
	
}
.opacity {
}
blockquote {
    background-color: #183940;
}
.column {
    width: 250px;
    height: 750px;
    float: left;
    margin-left: 60px;
    margin-right: 20px;
}
/* Rules the page will follow for Tablet-sized devices */
@media (max-width: 1024px){
	#container {
		width: 768px; 
		
	}
	
	header {
		width: 768px; 
		
	}
	nav {
		width: 768px; 
		
	}
	main {
		width: 580px; 
		
	}
	
	footer {
		width: 768px; 
		
	}
	.column {
		margin-left: 20px;
    margin-right: 20px;
		
	}
	
}

@media screen and (max-width:375px){
		#container {
		width: 768px; 
		
	}
	
	header {
		width: 300px; 
		
	}
	nav {
		width: 300px; 
		position: static;
		height: 250px;
	}
	main {
		width: 300px; 
		
	}
	
	footer {
		width: 300px; 
		
	}
	.column {
		margin-left: 20px;
    margin-right: 20px;
		
	}
	aside {
		display: none;
		
	}
	
	
	#container nav li {
	display: list-item;
	list-style-type: none;
	float: none;
	margin: 0px 0px 20px 0px;
	width: 260px;
	text-align: center;	
	
}
	
	#container nav ul {
	width: 260px;
}

	nav a:link {
	display: block;
	width: 200px;
	background-color: #65EBFB;
	color: white;
	}
	
	nav a:visited {
	text-decoration: none;
	color: white;
}
	
}
